<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"> </script>
</head>
<body ng-app="">
<table border=1 align=center>
<tr><td> Enter 1st number</td>
<td> <input type=number ng-model="n1"</td>
</tr>
<tr>
<td> Enter 2nd number</td>
<td> <input type=number ng-model="n2"</td>
</tr>
<tr>
<td> Addition</td>
<td> {{n1+n2}}</td>
</tr>
<tr>
<td> Substraction</td>
<td> {{n1-n2}}</td>
</tr>
<tr>
<td> Multiplication</td>
<td> {{n1*n2}}</td>
</tr>
<tr>
<td> Division</td><td> {{n1/n2}}</td>
</tr>
</table>
</body>
</html>
